In [8]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [9]:
data = pd.read_csv("master.csv")
data = data.reset_index()
data.head(4)

,index,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation

In [10]:
temp = data[(data["country"] == "United States") | (data["country"] == "Canada") | (data["country"] == "Mexico")]
temp

,index,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
4916,4916,Canada,1985,male,75+ years,111,390200,28.45,Canada1985,0.827,"364,756,499,451",15522,G.I. Generation
4917,4917,Canada,1985,male,55-74 years,502,1841000,27.27,Canada1985,0.827,"364,756,499,451",15522,G.I. Generation
4918,4918,Canada,1985,male,25-34 years,605,2240500,27.00,Canada1985,0.827,"364,756,499,451",15522,Boomers
4919,4919,Canada,1985,male,35-54 years,774,3046800,25.40,Canada1985,0.827,"364,756,499,451",15522,Silent
4920,4920,Canada,1985,male,15-24 years,560,2224600,25.17,Canada1985,0.827,"364,756,499,451",15522,Generation X
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27215,27215,United States,2015,female,25-34 years,1444,21555712,6.70,United States2015,NaN,"18,120,714,000,000",60387,Millenials
27216,27216,United States,2015,female,15-24 years,1132,21633813,5.23,United States2015,NaN,"18,120,714,000,000",60387,Millenials
27217,27217,United States,2015,female,75+ years,540,11778666,4.58,United States2015,NaN,"18,120,714,000,000",60387,Silent
27218,27218,United States,2015,male,5-14 years,255,21273987,1.20,United States2015,NaN,"18,120,714,000,000",60387,Generation Z
27219,27219,United States,2015,female,5-14 years,158,20342901,0.78,United States2015,NaN,"18,120,714,000,000",60387,Generation Z

In [11]:
temp.columns

Index(['index', 'country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [12]:
temp = temp.drop(columns = ["HDI for year", "country-year"])
temp = temp.rename(columns = {"suicides/100k pop": "suicides_100k", " gdp_for_year ($) ": "gdp_yearly", "gdp_per_capita ($)": "gdp_capita"})

In [13]:
temp.to_csv(r"gdp_mod.csv", index = False, header = True, mode = "w")